@page "/dispecerska-sluzba"
@using DHL.Server.Models
@using DHL.Server.Services
@using DHL.Server.Interfaces
@inject IDispatchService DispatchService
@inject NavigationManager Navigation

<h3>Dispečerská služba</h3>

<MudTable Items="Dispatches" Dense="true" Hover="true" Bordered="true" Striped="true">
    <HeaderContent>
        <MudTh>Vytvořeno</MudTh>
        <MudTh>DSPU</MudTh>
        <MudTh>Datum</MudTh>
        <MudTh>Typ</MudTh>
        <MudTh>Klíč</MudTh>
        <MudTh>Popis</MudTh>
        <MudTh>Aktualizováno</MudTh>
        <MudTh>Akce</MudTh>
    </HeaderContent>
    <RowTemplate Context="dispatch">
        <MudTd>@dispatch.CreatedAt.ToString("g")</MudTd>
        <MudTd>@dispatch.LocationName</MudTd>
        <MudTd>@dispatch.UserTime.ToString("g")</MudTd>
        <MudTd>@dispatch.TypeEnumName</MudTd>
        <MudTd>@dispatch.KeyEnumName</MudTd>
        <MudTd>@(dispatch.Description ?? "-")</MudTd>
        <MudTd>@(dispatch.UpdatedAt.HasValue ? dispatch.UpdatedAt.Value.ToString("g") : "-")</MudTd>
        <MudTd>
            <MudButton OnClick="@( () => ViewDispatch(dispatch.Id) )" Color="Color.Primary">Detail</MudButton>
            <MudButton OnClick="@( () => DeleteDispatch(dispatch.Id) )" Color="Color.Error">Smazat</MudButton>
        </MudTd>
    </RowTemplate>
</MudTable>



@code {
    private List<DispatchModel> Dispatches { get; set; } = new List<DispatchModel>(); // Inicializace prázdného seznamu

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Dispatches = await DispatchService.GetDispatchesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Chyba při načítání dispečerských záznamů: {ex.Message}");
        }
    }

    private void ViewDispatch(int id)
    {
        Navigation.NavigateTo($"/dispatch/view/{id}");
    }

    private async Task DeleteDispatch(int id)
    {
        try
        {
            await DispatchService.DeleteDispatchAsync(id);
            Dispatches = await DispatchService.GetDispatchesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Chyba při mazání záznamu: {ex.Message}");
        }
    }
}
